# ===================================================================
# Arquivo .gitignore para o projeto Desafio SEALS OCI
# ===================================================================

# Arquivos de Estado e Cache do Terraform (NUNCA DEVEM IR PARA O GIT)
# Contêm o estado da sua infraestrutura e podem ter dados sensíveis.
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Arquivos de Variáveis do Terraform (Frequentemente contêm segredos)
# É uma boa prática não versionar o arquivo de variáveis principal.
terraform.tfvars
*.tfvars

# Planos do Terraform (Podem conter informações sensíveis)
*.tfplan

# Chaves e Segredos Gerais
*.pem
*.key
id_rsa*

# Configuração do Kubernetes (Contém credenciais de acesso ao cluster)
kubeconfig

# Arquivos de Log de Crash
crash.log
crash.*.log

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs e Editores
.vscode/
.idea/
*.swp